body {
	font-family: helvetica;
}
.header {
	text-align: center;
	color: crimson;
}
footer {
	text-align: center;
}
button {
	border: none;
	display: block;
	background-color: pink;
	cursor: pointer;
	border-radius: 3px;
	margin-top: 3px;
	border: 1px darkcyan solid;
}
button:hover {
	background-color: rgba(255, 192, 203, 0.55);
}
button:active {
	background-color: lightcoral;
	color: white;
}
.main {
	margin: auto;
	max-width: 610px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 8px;
	/* border: 2px solid darkgreen; */
	border-radius: 5px;
}
.main > * {
	margin-block: 21px;
	padding: 8px;
}

.main .left > * {
	border: 2px rgba(0, 0, 0, 0.34) solid;
	padding: 5px;
	margin-block: 13px;
	border-radius: 5px;
}

.right > div > div {
	margin-block: 13px;
	border: 2px solid rgba(0, 0, 0, 0.34);
	padding: 5px;
	border-radius: 5px;
}

/* .right div:nth-child(1) .display {
	border: 2px darkred solid;
	margin-block: 13px;
	background-color: orange;
} */

@media (width < 400px) {
	.main {
		grid-template-columns: 1fr;
	}
	.left {
		margin-bottom: 0px;
	}
	.right {
		margin-top: 0px;
	}
}
