* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	width: 100%;
	position: relative;
}

li {
	list-style: none;
}
input {
	outline: none;
	border: none;
	background-color: darkred;
	color: white;
	padding: 5px;
	border-radius: 5px;
}

.to-row {
	display: flex;
	gap: 13px;
	align-items: center;
}

.option li {
	padding-inline: 5px;
}
.search-box {
	background-color: darkcyan;
}
.option {
	padding-block: 5px;
	background-color: lightcoral;
	color: white;
	position: absolute;
	z-index: 100;
	border-radius: 0 0 5px 5px;
	border: 2px rgba(0, 0, 139, 0.178) solid;
	max-height: 100px;
	overflow-y: auto;
	/* overflow-y: hidden; */
}
/* Hide scrollbar for Chrome, Safari and Opera */
.option::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.option {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}
.list-container ul {
	display: none;
}
.visible ul {
	display: block;
}
.sub-title {
	text-align: center;
	padding: 3px;
	margin-block: 5px;
	font-size: 16px;
}

.hide {
	display: none;
}
.bold {
	font-size: 13px;
	font-weight: bold;
	margin-top: 3px;
	font-family: Arial, Helvetica, sans-serif;
	color: darkblue;
	margin-left: 8px;
}

.target-value {
	font-size: 16px;
	font-family: monospace;
	font-weight: bold;
}
